strong{
    font-weight: bold;
}

.trabalho{
    box-sizing: border-box;
    width: 100%;
}
.trabalho ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100vw auto;
    gap: 1rem;
}
.trabalho ul li{
    list-style: circle; 
    margin: 2vw;
    border-bottom:1px solid #000;
    border-width: 100%;
}
@media screen and (max-width: 768px ) {

    .trabalho ul{
        display: block;
    }
    .trabalho ul li{
        list-style: circle; 
        margin: 4vw;
    }
}