/* MENU PRINCIPALE */
#sidebar{
    box-sizing: border-box;
    position:fixed;
    width:200px;
    height:100vh;
    background: #d3d3d3;
    left:-200px;
    transition: all 500ms;
}

#sidebar.active{
left:0px;
}


#sidebar ul li center{
color: #000000;
}
#sidebar ul li{
list-style:none;
padding:10px 15px;
border-bottom:1px solid #ffffff; 
}
#sidebar ul li a{
text-decoration: none;
color: #000000;
font-size: 16px;
}
#sidebar .toggle-btn {
position:absolute;
left:230px;
top:20px;
}
.logo{
    border-radius: 50%;
    width: 100px;
}
/* menu hamburger */
#sidebar .toggle-btn .icon{
display: block;
color: #000000;

font-size: 24px;
padding: 12px 16px;
cursor: pointer;
}
@media screen and (max-width: 768px ) {

#sidebar {
    position:fixed;
    width:100vw;
    height:100vh;
    background: #d3d3d3;
    left:-100vw;
    transition: all 500ms;
}

#sidebar .toggle-btn {
    position:absolute;
    left:100%;
    top:20px;
  }
}