@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");


section {
height: 100vh;
width: 100%;
background-color: #f1f1f1;
display: flex;
justify-content: center;
text-align: center;
justify-content: center;
}
nav {
position: fixed;
top: 0;
width: 100%;
background-color: #192a56;
}
nav .container {
width: 90%;
max-width: 1000px;
margin: 0 auto;
text-align: center;
padding: 10px;
}
nav .container ul li {
display: inline-block;
border-radius:5px;
}
nav .container ul li a {
display: inline-block;
text-decoration: none;
padding: 10px 20px;
color: rgb(255, 255, 255);
}
nav .container ul li.active {
background-color: #ffffff;
border-radius:30px;
transition: 0.3s;
}
nav .container ul li.active a {
color: #080808;
}
